h1{
  font-size: 20px;
  text-transform: uppercase;
}
#first-page {
  
  background: url(h_img.jpg)no-repeat center;
  background-size: cover;
  height: 500px;
  text-align: center;
  color: aliceblue;
  margin: 30px 50px 75px 100px;
  text-transform: uppercase;

}
#about-us {
  
  background: none;
  background-size: cover;
  position: relative;
  text-align: center;
  font-size: 10px;
  margin: 25px 50px 75px 100px;


}
#services {

  margin: 25px 50px 75px 100px;
  background: url(s_image.jpg)no-repeat center;
  background-size: cover;
  height: 300px;
  text-align: center;
  margin: 25px 50px 75px 100px;
  color: aliceblue;
  font-size: 10px;
 
}
#what-we-do {
  background: none;
  background-size: cover;
  height: 100px;
  text-align: center;
  margin: 25px 50px 25px 50px;
}
#portfolio {
  background: none;
  background-size: cover;
  height: 400px;
  width: 800px; 
  text-align: center;
  margin: 25px 50px 25px 230px;
}
#contact_us {
  
  background: url(c_image.jpg)no-repeat center;
  background-size: cover;
  height: 500px;
  /* position: relative; */
  text-align: center;
  margin: 0px 50px 25px 40px; 
 
}
#icon{
  height:120px;
  width: 150px;
}
.page-offset{
  position: relative;
  top: 30%;
}